body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yes{
    position: absolute;
    top: 10vh;
    z-index: -2;
    right: 37%;
}
.no{
    position: absolute;
    top: 10vh;
    right: 37%;
}
.active{
    rotate: 30deg;
    right: 30%;
    animation: idk 1s ease-in 1;
}
@keyframes idk{
    0%{ rotate: 0deg;
    right: 37%;   
    }
    100%{rotate: 30deg;
    right: 30%;
    }
}
.deactive{
    rotate: 0deg;
    right: 37%;
    animation: idk2 1s ease-in 1;
}
@keyframes idk2{
    0%{
    right: 30%;
    rotate: 30deg;
    }
    100%{
    rotate: 0deg;
    right: 37%;
    }
}