body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    width: 100%;
    font-size: 20px;
    border: solid 3px ;
    height: 16%;
    margin-top: 3vh;
    margin-bottom: 3vh; 
    overflow: scroll;
}
.white{
    border-color: white;
}
#qmod{
    position: absolute;
    right: 1.2%;
    top: 12%;
}
#qoth{
    position: absolute;
    left: 1.2%;
    top: 12%;
}
.qcont{
    height: 73%;
    width: 27.5%;
}
.theme{
    position: absolute;
    top:15vh;
    font-size: 22px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: white
}
.oth{
    position: absolute;
    left: 5%;
    top:5vh;
    font-size: 40px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
.mod{
    position: absolute;
    right: 5%;
    top:5vh;
    font-size: 40px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
.cont{
    position: absolute;
    height: 750px;
    width: 750px;
}
.textt{
    position: absolute;
    top: 5vh;
    font-size: 70px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;

}
.yes{
    position: absolute;
    top: 10vh;
    z-index: -2;
    right: 125px;
}
.no{
    position: absolute;
    top: 10vh;
    right: 125px;
}
.active{
    rotate: 30deg;
    right: 5px;
    animation: idk 1s ease-in 1;
}
@keyframes idk{
    0%{ rotate: 0deg;
    right: 125px;   
    }
    100%{rotate: 30deg;
    right: 5px;
    }
}
.deactive{
    rotate: 0deg;
    right: 125px;
    animation: idk2 1s ease-in 1;
}
@keyframes idk2{
    0%{
    right: 5px;
    rotate: 30deg;
    }
    100%{
    rotate: 0deg;
    right: 125px;
    }
}
.iago{
    position: absolute;
    border: 8px dashed black;
    height: 25vh;
    width: 65vh;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    bottom: 8vh;
}