body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invis{
    display: none;
}

.quote{
    width: 100%;
    font-size: 20px;
    border: solid 3px ;
    height: 16%;
    margin-top: 3vh;
    margin-bottom: 3vh; 
    overflow: scroll;
    z-index: 1;
}
.white{
    border-color: white;
}
#qmod{
    position: absolute;
    right: 1.2%;
    top: 12%;
}
#qoth{
    position: absolute;
    left: 1.2%;
    top: 12%;
}
.qcont{
    height: 73%;
    width: 27.5%;
    z-index: 1;
}
.theme{
    position: absolute;
    top:17%;
    font-size: 22px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: white
}
.oth{
    position: absolute;
    left: 5%;
    top:5vh;
    font-size: 40px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
.mod{
    position: absolute;
    right: 5%;
    top:5vh;
    font-size: 40px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
.cont{
    position: absolute;
    height: 750px;
    width: 750px;
}
.textt{
    position: absolute;
    top: 5vh;
    font-size: 70px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;

}
.yes{
    position: absolute;
    top: 10vh;
    z-index: -2;
    right: 125px;
}
.no{
    position: absolute;
    top: 10vh;
    right: 125px;
}
.active{
    rotate: 30deg;
    right: 5px;
    animation: idk 1s ease-in 1;
}
@keyframes idk{
    0%{ rotate: 0deg;
    right: 125px;   
    }
    100%{rotate: 30deg;
    right: 5px;
    }
}
#hanker{
    position: absolute;
    z-index: 2;
    height: 16%;
    left: 95%;
    top: 20%
}
.deactive{
    rotate: 0deg;
    right: 125px;
    animation: idk2 1s ease-in 1;
}
@keyframes idk2{
    0%{
    right: 5px;
    rotate: 30deg;
    }
    100%{
    rotate: 0deg;
    right: 125px;
    }
}
#sord{
    position: absolute;
    height: 17%;
    bottom: 86%;
    right: 90%;
}
#stone{
    position: absolute;
    height: 13%;
    bottom: 27%;
    right:95% ;
}
.iago{
    position: absolute;
    border: 8px dashed black;
    height: 25vh;
    width: 65vh;
    font-size: 16px;
    font-family: "Alfa Slab One", serif;
    font-weight: 1;
    font-style: normal;
    bottom: 8vh;
    overflow: scroll;
}
#app{
    position: absolute;
    height: 20%;
    left: 87%;
    bottom: 87%;
}
#teardrop{
    position: absolute;
    height: 25%;
    top: 93%;
    right: 20%;
}
#sad{
    position: absolute;
    height: 50%;
    left: 70%;
    top: 20%;
}
#diploma{
    position: absolute;
    height: 15%; 
    bottom: 24%;
    right: 90%;
    rotate: 320deg;
}
#heart{
    position: absolute;
    height: 10%;
    top: 100%;
    rotate: 20deg;
    left: 85%
}